<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="shape-element1" ></div>
    <%- include('../element/button1') %>
    <%- include('../element/navbar') %>
    <div class="container-widget-dsb1">
<div class="text-widget-1">
    <h2>Aveileble Events</h2>
</div>

<div class="column" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
<div class="card-image-1">
    <img src="../image/grup1.png" alt="" width="400" />
    &nbsp;&nbsp;
    <img src="../image/grup4.png" alt="" width="400">
</div>
<div class="card-image2" style="position: relative; top: -90px;">
    <img src="../image/grup2.png" alt="" width="400">
    &nbsp;&nbsp;
    <img src="../image/grup2.png" alt="" width="400">
</div>
</div>

</div>
</body>
</html>