<div class="button-1">
    <div class="icon">
        <img src="../image/dasbord.png" alt="Db" width="20">
 </div>

        <div class="text-dasb">
            Change Layout 
        </div>
   
</div>

<div class="button-2">
    <div class="text-b2">
        <h1 style="font-family: 'montserrat' ;
         font-weight: bold;
         color: white;
         font-size: 20px;
         ">B</h1>
         &nbsp;&nbsp;&nbsp;
        <span style="font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #5f5f60;
        margin-top: 5px;
        "> 9.230 <font> sats </font> </span>
    </div> &nbsp;&nbsp;&nbsp;
    <div class="icon" style="margin-top: 7px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17" fill="none">
            <rect width="19" height="17" rx="4" fill="#FF87EC"/>
            <rect x="8" y="3" width="3" height="10" fill="#D9D9D9"/>
            <rect x="4" y="9" width="3" height="11" transform="rotate(-90 4 9)" fill="#D9D9D9"/>
            </svg>
    </div>
</div>

<style>
    .button-1 {
        position: absolute;
        z-index: 1;
        margin-top: 15px;
        margin-left: 370px;
        display: flex; 
        width: 170px;
        height: 45px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        background-color: #2B313A;
    }

    .button-1 > .text-dasb {
        margin-left: 2px;
        color: white;
        margin-left: 10px;
        font-size: 15px;
        font-family: 'montserrat';
    }

    .button-2 {
        position: absolute;
        z-index: 1;
        margin-top: 15px;
        margin-left: 570px;
        display: flex; 
        width: 170px;
        height: 45px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        background-color: #2B313A;
    }

    .button-2 > .text-b2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>