<link rel="stylesheet" href="/style.css" />
<script defer src="/sistem.js"></script>

<!-- sidebar navbar -->
<nav class="container">
    <div class="sidebar"> 
 <a href="#" style="text-decoration: none;" class="header">
        <img src="https://logos-download.com/wp-content/uploads/2018/08/Google_Earth_logo_gradient.png" class="icon" width="50" />
         <div class="description-header">dazzardo</div>
            </a>
        <div class="items-list">
             <ul>
                 <li>
                     <a href="/" class="list">
                    <div class="icon-dasbord">
                     <img src="../image/dasbord.png"  alt="iconGanti">
                    </div>
                <div class="text-icon">
                 Dasbord
                 </div>
             </a></li>
            <li><a href="/Events" class="list var">
                 <div class="icon-dasbord">
                    <img src="../image/flash.png"  alt="flash">
                     </div>
                     <div class="text-icon">
                                Events
                     </div>
                </a></li>
            <li><a href="/Leadbord" class="list">
                 <div class="icon-dasbord">
                    <img src="../image/piala.png"  alt="piala" width="30">
                     </div>
                     <div class="text-icon">
                               Leaderbord
                     </div>
                </a></li>
            <li><a href="/Leadbord" class="list">
                 <div class="icon-dasbord">
                    <img src="../image/piala.png"  alt="" width="30">
                     </div>
                     <div class="text-icon">
                               Leaderbord
                     </div>
                </a></li>
                
            </ul>   
                </div>
                <img src="../image/card1.png" alt="card1" >
        </div>
        </nav>