<link rel="stylesheet" href="/style.css">

<!-- sidebar navbar -->
<div class="container">
    <div class="sidebar"> 
            <a href="#" style="text-decoration: none;" class="header">
                    <img src="https://logos-download.com/wp-content/uploads/2018/08/Google_Earth_logo_gradient.png" class="icon" width="50" />
                    <div class="description-header">dazzardo</div>
                </a>
                <div class="items-list">
                    <ul>
                        <li class="click-shape">
                            <a href="/" class="list">
                            <div class="icon-dasbord">
                                <img src="../image/dasbord.png" alt="iconGanti">
                            </div>
                            <div class="text-icon">
                                Dasbord
                            </div>
                        </a></li>
                        <li><a href="#" class="list var">
                            <div class="icon-dasbord">

                            </div>
                            <div class="text-icon">
                                Events
                            </div>
                        </a></li>
                        <li><a href="#">
                            <div class="icon-dasbord">

                            </div>
                            <div class="text-icon">

                            </div>
                        </a></li>
                    </ul>
                </div>
        </div>
        </div>